body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.chat-container {
  position: relative;
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Убираем лишнее место */
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.chat-box {
  height: 300px;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.chat-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 20px;
  max-width: 75%;
}

.message.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.message.bot {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}

/* Стили для кнопок категорий */
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Расстояние между кнопками */
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

.category-button {
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(33.333% - 10px); /* 3 элемента в строке с учетом отступов */
  text-align: center;
}

.category-button:hover {
  background-color: #d6d6d6;
}

.category-button.active {
  background-color: #007bff;
  color: white;
}

.category-button.more {
  background-color: #28a745; /* Цвет для кнопки "Другое" */
}

.category-button.more:hover {
  background-color: #218838;
}

/* Стиль для всплывающего уведомления */
.notification {
  position: fixed; /* Делаем уведомление фиксированным */
  bottom: 10px; /* Располагаем уведомление снизу */
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 5s ease-in-out;
  white-space: nowrap;
  z-index: 100; /* Чтобы уведомление было поверх остальных элементов */
  opacity: 0;
}

/* Анимация для появления и исчезновения уведомления */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}